*{
    /* margin: 8px 16px 0px 16px; */
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

body{
    margin: 0px 64px 0px 64px;
    /* margin: 64px; */
    /* overflow-x: hidden; */
    background: #13091C;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    /* background-color: #13091C; */
    font-size: 25px;
    /* opacity: .6; */
    z-index: 2;
}

.header-title{
    display: flex;
    margin: 0;
    font-size: 38px;
    cursor: pointer
    /* background-color: rgb(36, 255, 142); */
}

.header-pages{
    display: flex;
    margin: 0;
    gap: 64px;
    cursor: pointer
    /* background-color: burlywood; */
}

.header-pages a, .header-title{
    color: rgb(165, 165, 165);
}



h1{
    font-family: 'Jura', sans-serif; font-size: 125px;
    /* background-color: yellowgreen; */
    margin: 0;
}

h2{
    font-family: 'Jura', sans-serif;
    font-size: 55px;
    opacity: .6;
    /* background-color: aquamarine; */
    margin: 0;
}

h3{
    font-family: 'Jura', sans-serif; font-size: 65px;
    /* background-color: aquamarine; */
    margin: 0;
}

p{
    font-family: 'Jura', sans-serif; font-size: 25px;
    /* background-color: rgb(99, 137, 137); */
    margin: 0;
}

main{
    height: 6800px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;

    /* background-color: rgba(127, 255, 212, 0.333); */
}


#sec0{
    height: fit-content;
    padding: 0;
    margin-bottom: 200px;
    /* background-color: blue; */
}

#sec0 img{
    width: 51.5%;
}

#title{
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    /* background-color: coral; */
}

section{
    /* background-color: blueviolet; */
    position: sticky;
    display: flex;
    padding: 100px 00px 100px 00px;
    top: 4.8px;

}

#sec1{
    /* background-color: cornflowerblue; */
    margin-bottom: 1000px;
}

.secText{
    /* background-color: rgb(150, 97, 28); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .25s linear;

}

.secImgs{
    /* background-color: darkred; */
    display: flex;


}


.secImgs img{
    /* background-color: aqua; */
    width: 250px;
    transition: all .5s linear;
    opacity: 0;
}


#imgIcon{
    margin-bottom: 120px;
}


#pentoolIcon{
    margin-top: 150px;
    width: 300px;
}


#layersIcon{
    margin-left: 40px;
    margin-top: 20px;
}

#sec2{
    /* background-color: rgb(35, 122, 122); */
    margin-bottom: 1000px;
    opacity: 0;



}

.sec2Text{
    /* background-color: chocolate; */
    align-items: end;
    text-align: right;
    opacity: 1;
}

.sec2Imgs{
    margin-top: 20px;
}



#code1Icon{
    width: 300px;
    margin-top: 30px;
}

#code2Icon{
    margin-top: 180px;
}

#browserIcon{
    margin-bottom: 00px;
}


#sec3{
    overflow: hidden;
    /* background-color: aqua; */
    margin-bottom: 1000px;
    opacity: 0;
}


.secImgs{
    /* background-color: burlywood; */
    opacity: 1;
}



#lightbulbIcon{
    /* background-color: chocolate; */
    width: 280px;
    margin-top: 150px;
}

#stonksIcon{
    width: 320px;
    margin-right: 30px;
    margin-top: 50px;
}

#megaphoneIcon{
    width: 270px;
}


.sec4{
    /* background-color: blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 115px;
}



.sec4 p{
    font-size: 55px;
}

.sec4 a{
    font-size: 40px;
    padding: 20px 50px 20px 50px;
    background-color: #532d77;
    transition: all .15s linear;

}

.sec4 a:hover{
    background-color: rgb(203, 98, 255);
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
    align-items: center;
    background-color: #29123e;
    margin-left: -64px;
    margin-right: -64px;
}

.Fleft{
    width: 40%;
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-bottom: 20px;
}

.Fleft p{
    font-size: 16px;
    color: #c2c2c2
}


.Fright{
    /* background-color: aqua; */
    display: flex;
    gap: 50px;
    align-items: center;

}

.Fright a{
    font-size: 24px;
    cursor: pointer;
}