*{
    /* margin: 8px 16px 0px 16px; */
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

body{
    margin: 0 auto;
    overflow-x: hidden;
    background: #13091C;
    padding: 0px 32px 0px 32px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    background-color: #13091C;
    font-size: 25px;
    /* opacity: .6; */
    z-index: 2;
}

.header-title{
    display: flex;
    margin: 0;
    font-size: 38px;
    /* background-color: rgb(36, 255, 142); */
}

.header-pages{
    display: flex;
    margin: 0;
    gap: 64px;
    /* background-color: burlywood; */
}

.header-pages a, .header-title{
    color: rgb(165, 165, 165);
}


main{
    display: flex;
    flex-direction: column;
    gap: 500px;
    /* background-color: darkblue; */
}

section{
    opacity: 0;
}

.sec1{
    margin-top: 250px;
    /* transition: opacity .25 linear; */

}

.INsec1{
    transition: opacity .25s linear;
    opacity: 1;
}

.OUTsec1{
    transition: opacity .25s linear;
    opacity: 0;
}

/* .fixGD{
    position: sticky;
    top: 0;
} */


.sec1 img{
    position: absolute;
    right: -10px;
    bottom: -60px;
    z-index: 1;

}


h1{
    font-family: 'Jura', sans-serif;
    font-size: 125px;
    background-color: yellowgreen;
    margin: 0 auto;


}

h2{
    font-family: 'Jura', sans-serif;
    font-size: 55px;
    opacity: .6;
    background-color: aquamarine;
    margin: 0 auto;
}

h3{
    font-family: 'Jura', sans-serif;
    font-size: 55px;
    background-color: aquamarine;
    margin: 0;
}

.sec2{
    height: fit-content;
    background-color: blueviolet;
    padding-top: 250px;
    position: sticky;
    top: 0;
}

#GD-text{
    width: 35%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;

}

.sec2 div a{
    margin-top: 100px;
}

.sec2 img{
    width: 300px;
    position: absolute;
    right: 0;
    top: 950px;
}

#imgIcon{
    left: 750px;

}

/* #layersIcon{} */

#pentoolIcon{
    left: 900px;
}